{% extends "base.html" %}
{% block title %}태그 검색{% endblock %}
{% block extra-style %}
<style>
    * {
        font-family: 'Gowun Dodum', sans-serif;
    }


    .card {
        box-shadow: 5px 5px 5px;
    }
</style>
{% endblock %}

{% block content %}

<h1 style="margin-left: 40px; margin-top: 20px;">#{{ tags }}</h1>
<br>

{% for book in object_list %}
<a href="{% url 'detail-book' book.id %}" style="text-decoration: none; color: rgb(41, 41, 41);">
    <div class="card" style="width: 242px; margin-left: 90px;">
        <img class="card-img-top" src="/media/{{book.cover}}" alt="Card image cap" style="width: 240px; height: 300px;">
        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text" style="color: rgb(110, 110, 110);">{{book.author}}</p>

        </div>
    </div>
</a>

{% endfor %}


{% endblock %}