{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}

    <div class="box">
        <br><br>
        <h1 class="rec">이 달의 책</h1><br>
        <div class = "recommend">
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>
            <div class = "book-card">
                <img class = "book-img" src="https://bookthumb-phinf.pstatic.net/cover/137/995/13799585.jpg?type=m1&udate=20210720" alt="book1">
                <p>책 제목 - 작가</p>
                <p>☆★★★★</p>
            </div>

        </div>
        <div class = "bottom-box">
            
            <div class = "best-review">
                <h1 class="rec">베스트 리뷰</h1><br>
                <div class = "review-box">
                    <div class = "reviews">
                        <a class = "title">리뷰 제목</a><br>
                        <a class = "author">작성자</a><br>
                        <p class = "content">리뷰 내용</p>
                    </div>
                    <div class = "reviews">
                        <a class = "title">리뷰 제목</a><br>
                        <a class = "author">작성자</a><br>
                        <p class = "content">리뷰 내용</p>
                    </div>
                    <div class = "reviews">
                        <a class = "title">리뷰 제목</a><br>
                        <a class = "author">작성자</a><br>
                        <p class = "content">리뷰 내용</p>
                    </div>
                    <div class = "reviews">
                        <a class = "title">리뷰 제목</a><br>
                        <a class = "author">작성자</a><br>
                        <p class = "content">리뷰 내용</p>
                    </div>
                    <div class = "reviews">
                        <a class = "title">리뷰 제목</a><br>
                        <a class = "author">작성자</a><br>
                        <p class = "content">리뷰 내용</p>
                    </div>
                    <div class = "reviews">
                        <a class = "title">리뷰 제목</a><br>
                        <a class = "author">작성자</a><br>
                        <p class = "content">리뷰 내용</p>
                    </div>
                </div>
            </div>
            <div class = "keyword-search">
                <h1 class="rec">키워드 검색</h1><br>
                <div class = "keywords">
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                    <div class = "keyword">
                        <a class = "title" href="#">#키워드</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}